*{
    box-sizing: border-box;
  }
  html{
  width: 100%;
  height: 90%;
  font-family: 'Montserrat', sans-serif;
  }
  body{
    width: 100%;
    height: 90%;
    margin: 0;
  }


.header--dark{
background-color: rgb(51,57,64);
color: rgb(236,236,236) ;
display: flex;
justify-content: space-between;
flex-wrap: nowrap;

}

.header__title{
    flex-basis: 25vw;
    font-size: 1.25rem;
    margin: 0 0 0 1rem;
    align-self: center; 
    padding: .375rem .75rem;  
     
  }
  .header__menu{
    text-align: left;
    flex-basis: 25vw;
    font-size: 1.5rem;
    margin: 0;
    align-self: center;
    padding: 0;
    display: block;
    padding: .375rem .75rem;
}
.header__search{
  text-align: end;
  margin-left: auto;
  margin-right: 0;
  align-self: center;
  flex-basis: 50vw;
    display: inline-block;
    padding: .375rem .75rem;
    /* margin: .6rem; */
    
}
.search__input{
    
    border: 1px solid rgb(74, 122, 224);
    border-radius:  4px 0 0 4px;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    transition: border-color .15s  ease-in;
    
    
  }
  .search__input:focus{
    border: 1px solid rgb(128,189,255);
    border-radius:  4px 0 0 4px;
    
    font-size: 1.2rem;
    
  }
  .search__btn{
    background-color: rgb(0,123,255);
    border: 1px solid rgb(74, 122, 224);
    font-size: 1.2rem;
    padding: .375rem .75rem;
    margin-left: -5px;    
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .icons{
  font-size: 1.2rem;  
    color: rgb(168, 177, 177);
    padding: .375rem .75rem;
  display: inline-block;
}
main{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  padding: 0;
}
aside{
  flex-basis: 25vw;
  height: 92vh;
  background-color: rgb(33,37,41);
}

/*Navigáció*/
.main__nav{
  color: gray; 
  
}
ul{
  /* display: inline-block; */
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  
}
ul li{
  display: block;
  margin: 2rem 1rem;
  list-style: none;
  
}

ul li a{ 
  color: white;
  text-decoration: none;
  font-weight: 200;
  /* display: block; */
}
ul li a:hover{ 
 background-color: rgba(255, 255, 255, .5);
}

.active{
 color: white;
}

/*a tartalmi rész section-e*/
section{
  flex-basis: 75vw;
  padding: 1rem;
  margin: 0 ;
}
.main__breadcrumb{
  width: 100%;
  background-color: rgb(233,236,239);
  border-radius: .25rem;
  margin: 0;
  padding: .6rem;
  color: darkgrey;
}
.main__breadcrumb h3{
  margin: 0;
}
/*kártyák*/
.main__cards{
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-grow: 4;
justify-content: space-between;
margin-top: 1rem;

}
.main__card{
  
    margin: 1rem .5rem;
    
    flex-basis: 15vw;
    flex-shrink: 0;
    border-radius: .25rem  ;
    
    color: white;
    font-weight: 200;
}
.main__card p{
    font-size: .8rem;    
}
.arrow--span{
    font-size: .5rem;   
    font-weight: 100;
    float: right; 
}

.card__top{
  border-radius: .25rem  ;
  padding: .5rem;
   transition: background-color .3s ease-in ;   
}
.card__top h3{
  font-weight: 300;
}
.card__top:hover{
  background-color: rgba(0, 0, 0, .2);
}
.card__bottom{  
  /* filter: opacity(20%); */
  border-radius: .25rem  ;
  padding: .5rem;
  background-color: rgba(128, 128, 128, .1);
  transition: background-color .3s ease-in ;  
}
.card__bottom:hover{  
    background-color: rgba(0, 0, 0, .2);

}
.main__card--blue{
  background-color: rgb( 0,123,255);
  
}
.main__card--yellow{
  background-color: rgb(255,193,7);

}
.main__card--green{
  background-color: rgb(40,167,69);

}
.main__card--red{
    background-color: rgb(220,53,69);
}
/*media*/
@media screen and (max-width: 700px){
.menu__item{
  display: none;
}
aside{
  flex-basis: 20vw;  
}
section{
  flex-basis: 80vw;  
}
.main__cards{
  flex-direction: column; 
}
  .main__card{ 
      flex-basis: auto;   
  }
}
@media screen and (max-width: 750px){
.header__menu{
  flex-basis: 15vw; 
}

.header__search{
 
  flex-basis: 60vw; 
}
.search__input{
  width: 120px;
}
.header--dark{
   flex-wrap: wrap;
}
}